.navigation{
   
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
@media (max-width: 720px) {
    .navigation{
        flex-direction: row;
        justify-content: center;
    }
}