.git
.turbo
**/.turbo
.next
**/.next
.angular
node_modules
**/node_modules
dist
**/dist
.angular
**/.angular
storybook-static
Dockerfile
docker-compose.yml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example
.env.local
.env.*.local
