.home-page {
  display: grid;
  grid-template-areas: 
    "nav welcome statement"
    "nav new-transaction statement";
  grid-template-columns:20% 1fr 30%;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  
  font-synthesis: none;
}
@media screen and (max-width: 720px) {
  .home-page {
     grid-template-areas: 
    "nav"
    "welcome"
    "new-transaction"
    "statement";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  
}
.welcome{
  grid-area: welcome;
 
}
.statement{
  grid-area: statement;

}
.navigation{
  grid-area: nav;

}
.new-transaction{
  grid-area: new-transaction;

}